# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: mixed-line-ending
        args: [ "--fix=lf" ]
      - id: check-case-conflict
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.12.8' # Ruff version.
    hooks:
      - id: ruff
        stages: [ pre-push, pre-commit, manual ]
      - id: ruff-format
        stages: [ pre-push, pre-commit, manual ]
  - repo: local
    hooks:
      - id: benchplot-pytest
        name: benchplot pytest
        entry: sh -c 'python3 -m pytest -q . >&2'
        language: system
        always_run: true
        pass_filenames: false
        verbose: true
        stages: [ pre-push, manual ]
