{#
 # Runner script for iperf benchmarks.
 # This extends the standard runner-script.sh.jinja template
 #}
{% extends "runner-script.sh.jinja" %}

{% import "hwpmc.inc.jinja" as hwpmc with context %}

{% block global_setup %}
  {{ super() }}
  {% if iperf_config.iperf_path %}
    # Make sure iperf3 is in PATH
    export PATH="${PATH}:{{ iperf_config.iperf_path }}"
  {% endif %}
{% endblock global_setup %}

{% macro server_affinity() %}
  {% if iperf_config.server_cpu %}-A {{ iperf_config.server_cpu }}{% endif %}
{% endmacro %}

{% block iteration_setup %}
  {{ super() }}
  # Per-iteration iperf setup
  {%- if iperf_config.spawn_server %}
    # Start localhost iperf server
    {{- debug("Start iperf server for iteration {{ current_iteration }}") }}
    # We use a --one-off server to ensure that any process state is entirely reset
    iperf3 -s --one-off --daemon --pidfile /tmp/iperf_server.pid --interval 60 \
           --bind {{ iperf_config.server_addr }} \
           {{ server_affinity() | trim }} {{ ipversion() | trim }}
    # Make sure we have time to get the server up
    {#- XXX is this necessary? #}
    sleep 1
  {% endif %}
{% endblock iteration_setup %}

{% macro limit_flag() -%}
  {%- if iperf_config.transfer_mode == IPerfTransferLimit.BYTES -%}
    -n
  {%- elif iperf_config.transfer_mode == IPerfTransferLimit.TIME -%}
    -t
  {%- elif iperf_config.transfer_mode == IPerfTransferLimit.PACKETS -%}
    -k
  {%- endif -%}
{%- endmacro %}

{% macro mode_flag() -%}
  {%- if iperf_config.mode == IPerfMode.CLIENT_RECV -%}
    --reverse
  {%- elif iperf_config.mode == IPerfMode.BIDIRECTIONAL -%}
    --bidir
  {%- endif -%}
  {#- else IPerfMode.CLIENT_SEND leave empty -#}
{%- endmacro %}

{% macro protocol_flag() -%}
  {%- if iperf_config.protocol == IPerfProtocol.UDP -%}
    --udp -b 0
  {%- elif iperf_config.protocol == IPerfProtocol.SCTP -%}
    --sctp
  {%- endif -%}
  {#- else IPerfProtocol.TCP leave empty -#}
{%- endmacro %}

{% macro client_affinity() -%}
  {%- if iperf_config.client_cpu -%}
    -A {{ iperf_config.client_cpu -}}
  {%- endif -%}
{%- endmacro %}

{% macro mss_flag() -%}
  {%- if iperf_config.mss -%}
    --set-mss {{ iperf_config.mss }}
  {%- endif -%}
{%- endmacro %}

{% macro nodelay_flag() -%}
  {%- if iperf_config.nodelay -%}
    --no-delay
  {%- endif -%}
{%- endmacro %}

{% macro ipversion() -%}
  {%- if iperf_config.use_ipv4 -%}
    -4
  {%- else -%}
    -6
  {%- endif -%}
{%- endmacro %}

{% macro warmup() -%}
  {%- if iperf_config.warmup -%}
    {#- Discard N seconds from the run results -#}
    -O {{ iperf_config.warmup }}
  {%- endif -%}
{% endmacro %}

{% macro opt_flags() %}
  {{ [ client_affinity() | trim,
       protocol_flag() | trim,
       ipversion() | trim,
       mode_flag() | trim,
       mss_flag() | trim,
       nodelay_flag() | trim,
       warmup() | trim,
   ] | select | join(" ") }}
{% endmacro %}

{% macro client_args(curr_iter) %}
  -c {{ iperf_config.server_addr }} \
  -P {{ iperf_config.streams }} \
  --interval 60 \
  {{ limit_flag() | trim }} {{ iperf_config.transfer_limit }} \
  -l {{ iperf_config.buffer_size }} \
  {{ opt_flags() | trim }} \
  -J --logfile {{ iperf_gen_output_path(curr_iter) }}
{% endmacro %}

{% block iteration_exec %}
  {{ debug("Run iperf3 iteration {{ current_iteration }}") }}
  {{ hwpmc.pmcstat(current_iteration) }} iperf3 {{ client_args(current_iteration) | trim }}
{% endblock iteration_exec %}

{% block global_teardown %}
  {{ super() }}
  {% for i in range(iterations) %}
    {{ hwpmc.pmcstat_postprocess(i) }}
  {% endfor %}
{% endblock global_teardown %}
