{#-
 # Runner script for unixbench benchmarks.
 # This extends the standard runner-script.sh.jinja template
 #
 # This supports the timing and hwpmc extensions.
 -#}
{% extends "runner-script.sh.jinja" %}

{% import "timing.inc.jinja" as timing with context %}
{% import "hwpmc.inc.jinja" as hwpmc with context %}

{% macro _unixbench_test() %}
  {% if unixbench_config.test_name == UnixBenchTest.SYSCALL %}
    syscall {{ unixbench_config.duration | int }} getpid
  {% else %}
    "INVALID_UNIXBENCH_TEST"
  {% endif %}
{% endmacro %}

{%- macro cpuset() -%}
  {%- if unixbench_config.cpu -%}
  cpuset -l {{ unixbench_config.cpu | join(",") }}
  {%- endif -%}
{%- endmacro -%}

{% block global_setup %}
  {{ super() }}
  # Required to set fixed workload instead of using time as duration
  export UNIXBENCH_FIXED_WORKLOAD=1
  {% if unixbench_config.unixbench_path %}
    export PATH="${PATH}:{{ unixbench_config.unixbench_path }}"
    # Required for some unixbench tests to point to the pgms directory
    export UB_BINDIR="{{ unixbench_config.unixbench_path }}"
  {% else %}
    export UB_BINDIR="$(which dhry2)"
  {% endif %}
{% endblock %}

{% block iteration_exec %}
  echo "Run unixbench {{ unixbench_config.test }} iterations {{ current_iteration }}"

  {% call() timing.timeit(current_iteration) -%}
    {{ cpuset() }} {{ hwpmc.pmcstat(current_iteration) }} {{ _unixbench_test() | trim }}
  {%- endcall %}
{% endblock %}

{% block global_teardown %}
  {{ super() }}
  {% for i in range(iterations) %}
    {{ hwpmc.pmcstat_postprocess(i) }}
  {% endfor %}
{% endblock global_teardown %}
